<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="First Timeline is a jquery timeline modern design and clean code.It is very easy edited and useful for all websites and projects.Various animations also included.">
    <meta name="keywords" content="timeline, timeline plugin, jquery timeline, first timeline, first timeline plugin, responsive, responsive timeline, bootstrap,  first responsive timeline,	biography timeline, company timeline, content timeline, event timeline, history timeline, horizontal timeline, life story timeline, post timeline, process timeline, responsive plugin, timeline, timeline pro, vertical timeline">
    <title>First Timeline Demo </title>
    <!--Font Awesome-->
    <link rel="stylesheet" href="./First Timeline Demo_files/font-awesome.min.css">
    <link href="./First Timeline Demo_files/css" rel="stylesheet">
    <link rel="stylesheet" href="./First Timeline Demo_files/reset.css">
    <link rel="stylesheet" href="./First Timeline Demo_files/animate.min.css">
    <link rel="stylesheet" href="./First Timeline Demo_files/jquery.mCustomScrollbar.min.css">
    <!-- CSS Animation -->
    <link rel="stylesheet" href="./First Timeline Demo_files/default.min.css">
    <!-- Resource style -->
    <link rel="stylesheet" href="./First Timeline Demo_files/demo.css">
    <link rel="stylesheet" href="./First Timeline Demo_files/frst-timeline-style-3.css">
    <!-- Resource style -->
    <script src="./First Timeline Demo_files/modernizr.js.tải xuống"></script>
</head>

</html>
