
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Tuan Anh day. Cac bac oi</h2>

    <div id="page">
        <div id="side-menu" class="side-menu" style="left: 0px;">
            <div id="side-menu-content" class="menu-content demo mCustomScrollbar _mCS_1">
                <div id="mCSB_1" class="mCustomScrollBox mCS-rounded-dots mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                    <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
                        <div class="demos" data-value="01">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style1/01.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot1.PNG" class="mCS_img_loaded">
                                <span>Style 1 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="02">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style2/02.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot2.PNG" class="mCS_img_loaded">
                                <span>Style 2 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="03" style="border: 5px solid rgb(5, 76, 66);">
                            <span class="selected active">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/03.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot3.PNG" class="mCS_img_loaded">
                                <span>Style 3 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="04">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style4/04.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot4.PNG" class="mCS_img_loaded">
                                <span>Style 4 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="05">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style5/05.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot5.PNG" class="mCS_img_loaded">
                                <span>Style 5 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="06">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style6/06.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot6.PNG" class="mCS_img_loaded">
                                <span>Style 6 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="07">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style7/07.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot7.PNG" class="mCS_img_loaded">
                                <span>Style 7 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="08">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style8/08.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot8.PNG" class="mCS_img_loaded">
                                <span>Style 8 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="09">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style9/09.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot9.PNG" class="mCS_img_loaded">
                                <span>Style 9 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="10">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style10/10.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot10.PNG" class="mCS_img_loaded">
                                <span>Style 10 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="11">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style11/11.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot11.PNG" class="mCS_img_loaded">
                                <span>Style 11 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="12">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style12/12.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot12.PNG" class="mCS_img_loaded">
                                <span>Style 12 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="13">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style13/13.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot13.PNG" class="mCS_img_loaded">
                                <span>Style 13 </span>
                            </a>
                        </div>
                        <div class="demos" data-value="14">
                            <span class="selected">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </span>
                            <a href="http://iscoalarcon.cidcode.net/timeline/demo/style14/14.html" target="_blank" class="">
                                <img src="./First Timeline Demo_files/screenshot14.PNG" class="mCS_img_loaded">
                                <span>Style 14 </span>
                            </a>
                        </div>
                    </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-rounded-dots mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 14px; display: block; top: 0px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
            <div class="menu-icon">
                <i class="fa fa-wrench fa-spin fa-2x fa-fw"></i>
            </div>
        </div>
        <header class="site-header">
            <div class="header-top">
                <div class="container">
                    <div class="frst-logo"> <strong>frst timeline</strong> timeline styles </div>
                    <!-- .frst-logo -->
                    <div class="header-cutomizations">
                        <div class="container">
                            <div class="header-style-options">
                                <div class="container">
                                    <div class="style-list-main">
                                        <ul class="style-list">
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/01.html" class="">Style 01</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/02.html" class="">Style 02</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/03.html" class="">Style 03</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/04.html" class="">Style 04</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/05.html" class="">Style 05</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/06.html" class="">Style 06</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/07.html" class="">Style 07</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/08.html" class="">Style 08</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/09.html" class="">Style 09</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/10.html" class="">Style 10</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/11.html" class="">Style 11</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/12.html" class="">Style 12</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/13.html" class="">Style 13</a></li>
                                            <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/14.html" class="">Style 14</a></li>
                                        </ul>
                                    </div>
                                    <!-- .style-list-main -->
                                </div>
                                <!-- .container -->
                            </div>
                            <!-- .header-style-options -->
                            <div class="custom-options">
                                <div class="animation-selector">
                                    <select class="select-animation" id="select-animation">
                                        <option value="">No Animation</option>
                                        <optgroup label="Hinge">
                                            <option value="hingeTop">hingeTop</option>
                                            <option value="hingeBottom">hingeBottom</option>
                                            <option value="hingeLeft">hingeLeft</option>
                                            <option value="hingeRight" selected="">hingeRight</option>
                                        </optgroup>
                                        <optgroup label="Attention Seekers">
                                            <option value="bounce">bounce</option>
                                            <option value="flash">flash</option>
                                            <option value="pulse">pulse</option>
                                            <option value="rubberBand">rubberBand</option>
                                            <option value="shake">shake</option>
                                            <option value="swing">swing</option>
                                            <option value="tada">tada</option>
                                            <option value="wobble">wobble</option>
                                            <option value="jello">jello</option>
                                        </optgroup>
                                        <optgroup label="Bouncing effects">
                                            <option value="bounceIn">bounceIn</option>
                                            <option value="bounceInDown">bounceInDown</option>
                                            <option value="bounceInLeft">bounceInLeft</option>
                                            <option value="bounceInRight">bounceInRight</option>
                                            <option value="bounceInUp">bounceInUp</option>
                                        </optgroup>
                                        <optgroup label="Flippers effects">
                                            <option value="flip">flip</option>
                                            <option value="flipInX">flipInX</option>
                                            <option value="flipInY">flipInY</option>
                                        </optgroup>
                                        <optgroup label="Fading effects">
                                            <option value="fadeIn">fadeIn</option>
                                            <option value="fadeInDown">fadeInDown</option>
                                            <option value="fadeInDownBig">fadeInDownBig</option>
                                            <option value="fadeInLeft">fadeInLeft</option>
                                            <option value="fadeInLeftBig">fadeInLeftBig</option>
                                            <option value="fadeInRight">fadeInRight</option>
                                            <option value="fadeInRightBig">fadeInRightBig</option>
                                            <option value="fadeInUp">fadeInUp</option>
                                            <option value="fadeInUpBig">fadeInUpBig</option>
                                        </optgroup>
                                        <optgroup label="Lightspeed">
                                            <option value="lightSpeedIn">lightSpeedIn</option>
                                        </optgroup>
                                        <optgroup label="Rotating effects">
                                            <option value="rotateIn">rotateIn</option>
                                            <option value="rotateInDownLeft">rotateInDownLeft</option>
                                            <option value="rotateInDownRight">rotateInDownRight</option>
                                            <option value="rotateInUpLeft">rotateInUpLeft</option>
                                            <option value="rotateInUpRight">rotateInUpRight</option>
                                        </optgroup>
                                        <optgroup label="Sliding effects">
                                            <option value="slideInUp">slideInUp</option>
                                            <option value="slideInDown">slideInDown</option>
                                            <option value="slideInLeft">slideInLeft</option>
                                            <option value="slideInRight">slideInRight</option>
                                        </optgroup>
                                        <optgroup label="Zoom effects">
                                            <option value="zoomIn">zoomIn</option>
                                            <option value="zoomInDown">zoomInDown</option>
                                            <option value="zoomInLeft">zoomInLeft</option>
                                            <option value="zoomInRight">zoomInRight</option>
                                            <option value="zoomInUp">zoomInUp</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <!-- .animation-selector -->
                                <ul class="button-group style-class-switch">
                                    <li class="active"><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/03.html#" data-styleclass="alternate">Alternate</a></li>
                                    <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/03.html#" data-styleclass="right-align">Right</a></li>
                                    <li><a href="http://iscoalarcon.cidcode.net/timeline/demo/style3/03.html#" data-styleclass="left-align">Left</a></li>
                                </ul>
                                <div class="check-style" style="visibility: hidden;">
                                    <label for="dateToggle">
                                        <input type="checkbox" name="dateToggle" id="dateToggle" checked=""> <span></span> Show Date Opposite
                                    </label>
                                </div>
                                <!-- <ul class="button-group">
                                    <li class="active"><a href="#">With Icons</a></li>
                                    <li><a href="#">Without Icons</a></li>
                                </ul> -->
                                <!-- .animation-selector -->
                                <!-- 					<ul class="button-group responsive-windows">
                                                        <li>
                                                            <a href="#" data-window="mobile">
                                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                                                    <path d="M23 0h-14c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h14c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM12 1.5h8v1h-8v-1zM16 30c-1.105 0-2-0.895-2-2s0.895-2 2-2 2 0.895 2 2-0.895 2-2 2zM24 24h-16v-20h16v20z"></path>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-window="tablet">
                                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                                                    <path d="M25 0h-20c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h20c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM15 31c-0.552 0-1-0.448-1-1s0.448-1 1-1 1 0.448 1 1-0.448 1-1 1zM24 28h-18v-24h18v24z"></path>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li class="active" data-window="desktop">
                                                            <a href="#">
                                                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                                                                    <path d="M0 2v20h32v-20h-32zM30 20h-28v-16h28v16zM21 24h-10l-1 4-2 2h16l-2-2z"></path>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                    </ul> -->
                            </div>
                            <!-- .custom-options -->
                        </div>
                        <!-- .container -->
                    </div>
                    <!-- .style-switch -->
                </div>
                <!-- .container -->
            </div>
            <!-- .header-top -->
            <!-- .header-cutomizations -->
        </header>
        <div class="frst-container">
            <!-- frst-left-align/frst-right-align/frst-alternate/frst-date-opposite-->
            <div class="frst-timeline frst-timeline-style-3 frst-alternate frst-date-opposite">
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="turqoise"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner turqoise">
                            <span class="frst-date">09:00 am</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="light-blue"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect2 animated hingeRight">
                        <div class="frst-timeline-content-inner light-blue">
                            <span class="frst-date">09:30 am</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="blue"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner blue">
                            <span class="frst-date">10:00 am</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="violette"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect2 animated hingeRight">
                        <div class="frst-timeline-content-inner violette">
                            <span class="frst-date">10:30 am</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="dark-violette"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner dark-violette">
                            <span class="frst-date">11:00 am</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="turqoise"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect2 animated hingeRight">
                        <div class="frst-timeline-content-inner turqoise">
                            <span class="frst-date">11:30 am</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="light-blue"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner light-blue">
                            <span class="frst-date">12:00 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="blue"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect2 animated hingeRight">
                        <div class="frst-timeline-content-inner blue">
                            <span class="frst-date">12:30 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="violette"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner violette">
                            <span class="frst-date">01:00 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="dark-violette"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect2 animated hingeRight">
                        <div class="frst-timeline-content-inner dark-violette">
                            <span class="frst-date">01:30 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="turqoise"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner turqoise">
                            <span class="frst-date">02:00 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="light-blue"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect2 animated hingeRight">
                        <div class="frst-timeline-content-inner light-blue">
                            <span class="frst-date">02:30 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="blue"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner blue">
                            <span class="frst-date">03:00 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="violette"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect2 animated hingeRight">
                        <div class="frst-timeline-content-inner violette">
                            <span class="frst-date">03:30 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
                <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                    <div class="frst-timeline-img"> <span class="dark-violette"></span> </div>
                    <!-- frst-timeline-img -->
                    <div class="frst-timeline-content effect1 animated hingeRight">
                        <div class="frst-timeline-content-inner dark-violette">
                            <span class="frst-date">04:00 pm</span> <span class="icon-section">
                                <i class="fa fa-star fa-2x" aria-hidden="true"></i>
                            </span>
                            <div class="text-section">
                                <h2>Frst Responsive Timeline</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. </p>
                            </div>
                        </div>
                        <!-- frst-timeline-content-inner -->
                    </div>
                    <!-- frst-timeline-content -->
                </div>
                <!-- frst-timeline-block -->
            </div>
            <!-- frst-timeline -->
        </div>
        <!-- .frst-container -->
    </div>
    <!-- #page-->
    <script src="./First Timeline Demo_files/jquery-3.1.1.min.js.tải xuống"></script>
    <script src="./First Timeline Demo_files/jquery.mousewheel.min.js.tải xuống"></script>
    <script src="./First Timeline Demo_files/jquery.mousewheel-3.0.6.min.js.tải xuống"></script>
    <script src="./First Timeline Demo_files/jquery.mCustomScrollbar.min.js.tải xuống"></script>
    <script src="./First Timeline Demo_files/frst-timeline.js.tải xuống"></script>
    <script>

		(function($){
			$(document).ready(function (){
				$("#side-menu-content").mCustomScrollbar({
					theme:"rounded-dots",
					scrollInertia:800
				});

			});
		})(jQuery);

    </script>
    <!-- Resource jQuery -->

    <div id="SL_balloon_obj" alt="0" style="display: block;"><div id="SL_button" class="SL_ImTranslatorLogo" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/imtranslator-s.png&quot;); display: none; opacity: 0; left: 669px; top: 84px; transition: visibility 2s, opacity 2s linear;"></div><div id="SL_shadow_translation_result2" style="display: none;"></div><div id="SL_shadow_translator" style="display: none;"><div id="SL_planshet" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/bg2.png&quot;) rgb(244, 245, 245);"><div id="SL_arrow_up" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/up.png&quot;);"></div><div id="SL_providers"><div class="SL_BL_LABLE_ON" title="Google" id="SL_P0">G</div><div class="SL_BL_LABLE_ON" title="Microsoft" id="SL_P1">M</div><div class="SL_BL_LABLE_ON" title="Translator" id="SL_P2">T</div></div><div id="SL_alert_bbl" style="display: none;"><div id="SLHKclose" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/delete.png&quot;);"></div><div id="SL_alert_cont"></div></div><div id="SL_TB"><div id="SL_bubblelogo" class="SL_ImTranslatorLogo" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/imtranslator-s.png&quot;);"></div><table id="SL_tables" cellspacing="1"><tr><td class="SL_td" width="10%" align="right"><input id="SL_locer" type="checkbox" title="Lock-in language"></td><td class="SL_td" width="20%" align="left"><select id="SL_lng_from"><option value="auto">Detect language</option><option value="af">Afrikaans</option><option value="sq">Albanian</option><option value="ar">Arabic</option><option value="hy">Armenian</option><option value="az">Azerbaijani</option><option value="eu">Basque</option><option value="be">Belarusian</option><option value="bn">Bengali</option><option value="bs">Bosnian</option><option value="bg">Bulgarian</option><option value="ca">Catalan</option><option value="ceb">Cebuano</option><option value="ny">Chichewa</option><option value="zh-CN">Chinese (Simplified)</option><option value="zh-TW">Chinese (Traditional)</option><option value="hr">Croatian</option><option value="cs">Czech</option><option value="da">Danish</option><option value="nl">Dutch</option><option value="en">English</option><option value="eo">Esperanto</option><option value="et">Estonian</option><option value="tl">Filipino</option><option value="fi">Finnish</option><option value="fr">French</option><option value="gl">Galician</option><option value="ka">Georgian</option><option value="de">German</option><option value="el">Greek</option><option value="gu">Gujarati</option><option value="ht">Haitian Creole</option><option value="ha">Hausa</option><option value="iw">Hebrew</option><option value="hi">Hindi</option><option value="hmn">Hmong</option><option value="hu">Hungarian</option><option value="is">Icelandic</option><option value="ig">Igbo</option><option value="id">Indonesian</option><option value="ga">Irish</option><option value="it">Italian</option><option value="ja">Japanese</option><option value="jw">Javanese</option><option value="kn">Kannada</option><option value="kk">Kazakh</option><option value="km">Khmer</option><option value="ko">Korean</option><option value="lo">Lao</option><option value="la">Latin</option><option value="lv">Latvian</option><option value="lt">Lithuanian</option><option value="mk">Macedonian</option><option value="mg">Malagasy</option><option value="ms">Malay</option><option value="ml">Malayalam</option><option value="mt">Maltese</option><option value="mi">Maori</option><option value="mr">Marathi</option><option value="mn">Mongolian</option><option value="my">Myanmar (Burmese)</option><option value="ne">Nepali</option><option value="no">Norwegian</option><option value="fa">Persian</option><option value="pl">Polish</option><option value="pt">Portuguese</option><option value="pa">Punjabi</option><option value="ro">Romanian</option><option value="ru">Russian</option><option value="sr">Serbian</option><option value="st">Sesotho</option><option value="si">Sinhala</option><option value="sk">Slovak</option><option value="sl">Slovenian</option><option value="so">Somali</option><option value="es">Spanish</option><option value="su">Sundanese</option><option value="sw">Swahili</option><option value="sv">Swedish</option><option value="tg">Tajik</option><option value="ta">Tamil</option><option value="te">Telugu</option><option value="th">Thai</option><option value="tr">Turkish</option><option value="uk">Ukrainian</option><option value="ur">Urdu</option><option value="uz">Uzbek</option><option value="vi">Vietnamese</option><option value="cy">Welsh</option><option value="yi">Yiddish</option><option value="yo">Yoruba</option><option value="zu">Zulu</option></select></td><td class="SL_td" width="3" align="center"><div id="SL_switch_b" title="Switch languages" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/switchb.png&quot;);"></div></td><td class="SL_td" width="20%" align="left"><select id="SL_lng_to"><option value="af">Afrikaans</option><option value="sq">Albanian</option><option value="ar">Arabic</option><option value="hy">Armenian</option><option value="az">Azerbaijani</option><option value="eu">Basque</option><option value="be">Belarusian</option><option value="bn">Bengali</option><option value="bs">Bosnian</option><option value="bg">Bulgarian</option><option value="ca">Catalan</option><option value="ceb">Cebuano</option><option value="ny">Chichewa</option><option value="zh-CN">Chinese (Simplified)</option><option value="zh-TW">Chinese (Traditional)</option><option value="hr">Croatian</option><option value="cs">Czech</option><option value="da">Danish</option><option value="nl">Dutch</option><option value="en">English</option><option value="eo">Esperanto</option><option value="et">Estonian</option><option value="tl">Filipino</option><option value="fi">Finnish</option><option value="fr">French</option><option value="gl">Galician</option><option value="ka">Georgian</option><option value="de">German</option><option value="el">Greek</option><option value="gu">Gujarati</option><option value="ht">Haitian Creole</option><option value="ha">Hausa</option><option value="iw">Hebrew</option><option value="hi">Hindi</option><option value="hmn">Hmong</option><option value="hu">Hungarian</option><option value="is">Icelandic</option><option value="ig">Igbo</option><option value="id">Indonesian</option><option value="ga">Irish</option><option value="it">Italian</option><option value="ja">Japanese</option><option value="jw">Javanese</option><option value="kn">Kannada</option><option value="kk">Kazakh</option><option value="km">Khmer</option><option value="ko">Korean</option><option value="lo">Lao</option><option value="la">Latin</option><option value="lv">Latvian</option><option value="lt">Lithuanian</option><option value="mk">Macedonian</option><option value="mg">Malagasy</option><option value="ms">Malay</option><option value="ml">Malayalam</option><option value="mt">Maltese</option><option value="mi">Maori</option><option value="mr">Marathi</option><option value="mn">Mongolian</option><option value="my">Myanmar (Burmese)</option><option value="ne">Nepali</option><option value="no">Norwegian</option><option value="fa">Persian</option><option value="pl">Polish</option><option value="pt">Portuguese</option><option value="pa">Punjabi</option><option value="ro">Romanian</option><option value="ru">Russian</option><option value="sr">Serbian</option><option value="st">Sesotho</option><option value="si">Sinhala</option><option value="sk">Slovak</option><option value="sl">Slovenian</option><option value="so">Somali</option><option value="es">Spanish</option><option value="su">Sundanese</option><option value="sw">Swahili</option><option value="sv">Swedish</option><option value="tg">Tajik</option><option value="ta">Tamil</option><option value="te">Telugu</option><option value="th">Thai</option><option value="tr">Turkish</option><option value="uk">Ukrainian</option><option value="ur">Urdu</option><option value="uz">Uzbek</option><option selected="selected" value="vi">Vietnamese</option><option value="cy">Welsh</option><option value="yi">Yiddish</option><option value="yo">Yoruba</option><option value="zu">Zulu</option></select></td><td class="SL_td" width="21%" align="center"> </td><td class="SL_td" width="6%" align="center"><div id="SL_TTS_voice" title="Listen to the translation" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/tts-voice.png&quot;);"></div></td><td class="SL_td" width="6%" align="center"><div id="SL_copy" title="Copy translation" class="SL_copy" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/copy_hand.png&quot;);"></div></td><td class="SL_td" width="6%" align="center"><div id="SL_bbl_font_patch"></div><div id="SL_bbl_font" title="Font size" class="SL_bbl_font" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/font-off.png&quot;);"></div></td><td class="SL_td" width="6%" align="center"><div id="SL_TH" title="Translation History" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/history.png&quot;);"></div></td><td class="SL_td" width="10%"> </td><td class="SL_td" width="8%" align="right"><div id="SL_pin" title="Pin pop-up bubble" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/pin-on.png&quot;);"></div></td></tr></table></div></div><div id="SL_shadow_translation_result" style="visibility: visible;"></div><div id="SL_loading" class="SL_loading" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/loading.gif&quot;);"></div><div id="SL_player2"></div><div id="SL_alert100">Text-to-speech function is limited to 200 characters</div><div id="SL_Balloon_options" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/bg3.png&quot;) rgb(255, 255, 255);"><div id="SL_arrow_down" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/down.png&quot;);"></div><table width="100%"><tr><td width="18%" align="left" height="16"><div id="SL_bbl_donate" title="Make a small contribution" style="background: url(&quot;chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/img/util/donate2.png&quot;);"></div></td><td width="68%" align="center"><a href="chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/html/options/options.html?bbl" target="_blank" class="SL_options" title="Show options">Options</a> : <a href="chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/html/options/options.html?hist" target="_blank" class="SL_options" title="Translation History">History</a> : <a href="http://about.imtranslator.net/tutorials/presentations/imtranslator-for-chrome/chrome-bubble-translator/" target="_blank" class="SL_options" title="ImTranslator Help">Help</a> : <a href="chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/content/html/options/options.html?feed" target="_blank" class="SL_options" title="ImTranslator Feedback">Feedback</a></td><td width="15%" align="right"><span id="SL_Balloon_Close" title="Close">Close</span></td></tr></table></div></div></div>